<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="main.js"> </script>
    <title>Movies App</title>
</head>
<body>
    <div id="fixed-header">
      <div class="in-bg"></div>
      <section class="container" id="con-width">
        <input class="light-table-filter" data-table="order-table" placeholder=
        "Search By Name Or Year..." type="text">
        <table class="order-table">
          <thead>
            <tr>
              <th>Movie Name</th>
              <th>Description</th>
              <th>Year</th>
              <th>Photo - Watch</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>The Dark Knight</td>
              <td>With the help of allies Lt. Jim Gordon (Gary Oldman) and DA
              Harvey Dent (Aaron Eckhart), Batman (Christian Bale) has been able
              to keep a tight lid on crime in Gotham City. But when a vile young
              criminal calling himself the Joker (Heath Ledger) suddenly throws
              the town into chaos, the caped Crusader begins to tread a fine line
              between heroism and vigilantism.</td>
              <td>2008</td>
              <td><img src=
              "http://www.gstatic.com/tv/thumb/movieposters/173378/p173378_p_v8_au.jpg"></td>
            </tr>
            <tr>
              <td>Dunkirk</td>
              <td>In May 1940, Germany advanced into France, trapping Allied
              troops on the beaches of Dunkirk. Under air and ground cover from
              British and French forces, troops were slowly and methodically
              evacuated from the beach using every serviceable naval and civilian
              vessel that could be found. At the end of this heroic mission,
              330,000 French, British, Belgian and Dutch soldiers were safely
              evacuated.</td>
              <td>2017</td>
              <td>
                <a href="https://123movies.co/movie/dunkirk/" target=
                "_blank"><img src=
                "http://t3.gstatic.com/images?q=tbn:ANd9GcSi8VmNoMYm77iHAsAdsZhABzm_idRwgsU-r3njA4F6HY3-xceC"></a>
              </td>
            </tr>
            <tr>
              <td>Logan</td>
              <td>In the near future, a weary Logan (Hugh Jackman) cares for an
              ailing Professor X (Patrick Stewart) at a remote outpost on the
              Mexican border. His plan to hide from the outside world gets
              upended when he meets a young mutant (Dafne Keen) who is very much
              like him. Logan must now protect the girl and battle the dark
              forces that want to capture her.</td>
              <td>2017</td>
              <td><img src=
              "http://t1.gstatic.com/images?q=tbn:ANd9GcRPoMqL1vglrh7OF_69pT8gYMYnYaq1r7WfPMcD587V9uOR_hW2"></td>
            </tr>
            <tr>
              <td>Spider<br>
              Man:<br>
              Homecoming</td>
              <td>Thrilled by his experience with the Avengers, young Peter
              Parker returns home to live with his Aunt May. Under the watchful
              eye of mentor Tony Stark, Parker starts to embrace his newfound
              identity as Spider-Man. He also tries to return to his normal daily
              routine -- distracted by thoughts of proving himself to be more
              than just a friendly neighborhood superhero. Peter must soon put
              his powers to the test when the evil Vulture emerges to threaten
              everything that he holds dear.</td>
              <td>2017</td>
              <td><img src=
              "http://t0.gstatic.com/images?q=tbn:ANd9GcT8W3Fe7DD101g0M7OCalJN9u675sQAJFslGCjvs74PTOfEKt_t"></td>
            </tr>
            <tr>
              <td>Get Out</td>
              <td>Now that Chris (Daniel Kaluuya) and his girlfriend, Rose
              (Allison Williams), have reached the meet-the-parents milestone of
              dating, she invites him for a weekend getaway upstate with Missy
              and Dean. At first, Chris reads the family's overly accommodating
              behavior as nervous attempts to deal with their daughter's
              interracial relationship, but as the weekend progresses, a series
              of increasingly disturbing discoveries lead him to a truth that he
              never could have imagined.</td>
              <td>2017</td>
              <td><img src=
              "https://images-na.ssl-images-amazon.com/images/M/MV5BNTE2Nzg1NjkzNV5BMl5BanBnXkFtZTgwOTgyODMyMTI@._V1_SY1000_CR0,0,631,1000_AL_.jpg"></td>
            </tr>
            <tr>
              <td>Baby Driver</td>
              <td>Talented getaway driver Baby (Ansel Elgort) relies on the beat
              of his personal soundtrack to be the best in the game. After
              meeting the woman (Lily James) of his dreams, he sees a chance to
              ditch his shady lifestyle and make a clean break. Coerced into
              working for a crime boss (Kevin Spacey), Baby must face the music
              as a doomed heist threatens his life, love and freedom.</td>
              <td>2017</td>
              <td><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQluwvAAFCa_AXrK6Aex_5zbStjGjLwixcX1zhUYsItB0Gdw5_I"></td>
            </tr>
            <tr>
              <td>The Boss Baby</td>
              <td>A new baby's arrival impacts a family, told from the point of
              view of a delightfully unreliable narrator -- a wildly imaginative
              7-year-old named Tim. The most unusual Boss Baby (Alec Baldwin)
              arrives at Tim's home in a taxi, wearing a suit and carrying a
              briefcase. The instant sibling rivalry must soon be put aside when
              Tim discovers that Boss Baby is actually a spy on a secret mission,
              and only he can help thwart a dastardly plot that involves an epic
              battle between puppies and babies.</td>
              <td>2017</td>
              <td><img src=
              "http://t1.gstatic.com/images?q=tbn:ANd9GcSDDGYc6AIW_MYyr1OSKjnxkCv9qFuwpifx7O57kBecSACmR3T8"></td>
            </tr>
                      <tr>
              <td>Wonder Woman</td>
              <td>Before she was Wonder Woman (Gal Gadot), she was Diana, princess of the Amazons, trained to be an unconquerable warrior. Raised on a sheltered island paradise, Diana meets an American pilot (Chris Pine) who tells her about the massive conflict that's raging in the outside world. Convinced that she can stop the threat, Diana leaves her home for the first time. Fighting alongside men in a war to end all wars, she finally discovers her full powers and true destiny.</td>
              <td>2017</td>
              <td><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQcCAOmt-FsRsR8GebIzI67qSvdQ2JLYDRLxeAcbH-541fzqq1H"></td>
            </tr>
                      <tr>
              <td>Justice League</td>
              <td>Fueled by his restored faith in humanity and inspired by Superman's (Henry Cavill) selfless act, Bruce Wayne (Ben Affleck) enlists newfound ally Diana Prince to face an even greater threat. Together, Batman and Wonder Woman work quickly to recruit a team to stand against this newly awakened enemy. Despite the formation of an unprecedented league of heroes -- Batman, Wonder Woman, Aquaman, Cyborg and the Flash -- it may be too late to save the planet from an assault of catastrophic proportions.</td>
              <td>2017</td>
              <td><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQl4jDmsaajCfFvMRLWm7-3-lsXaJ4jc5BsJcpNZi1FypJUFuwE"></td>
            </tr>
                      <tr>
              <td>Cars 3</td>
              <td>Blindsided by a new generation of blazing-fast cars, the legendary Lighting McQueen finds himself pushed out of the sport that he loves. Hoping to get back in the game, he turns to Cruz Ramirez, an eager young technician who has her own plans for winning. With inspiration from the Fabulous Hudson Hornet and a few unexpected turns, No. 95 prepares to compete on Piston Cup Racing's biggest stage.</td>
              <td>2017</td>
              <td><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcScCXoxJL2rdif-y-lYk_H0jgH_eyFrAXk7yfpUW43xpLW8AmHk"></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>