<% include header %>

</head>
<body>
<div class="container">
	<h1 class ="text-center mt-4">Oscar Movie Search</h1>
	<form action="/result" method="get">
		<div class="form-group">
			<label for="Movie">Movie Name</label>
			<input type="text" name="name" placeholder="Ex: Ted">
			<label for="Movie">Category Name</label>
			<input type="text" name="category" placeholder="Ex: Best Picture">
			<label for="Movie">Year</label>
			<input type="text" name="year" placeholder="Ex:2010">
			<label for="Movie">Winner</label>
			<input type="text" name="winner" placeholder="Ex: true">
		</div>
		<div class="form-group">
			<input class="btn btn-outline-warning btn-block" type="submit">
		</div>
	</form>
</div>
</body>
</html>