body {
	font-family: 'Georgia', serif;
	padding-bottom: 50px;
	background-color:#111010; 
	color: rgb(255, 214, 80)
	}
h1 {
	text-align:center;
	color:  rgb(255, 214, 80);
}
	img{
		width: 200px;
		height: 300px;
	}
	table td:hover{
		background: #1f1d1d;
		color: 	#D4AF37;
	}
	table td{
		border-radius: 4px;
		border-color: rgb(255, 229, 80) !important;
	}
	table th{
		background: hsl(0, 3%, 6%);
		border-color: rgb(255, 229, 80) !important;
	}
	table th:hover{
		color: 	#D4AF37;
	}

	.container table {
		margin-top: 40px;
		width: 100%;
		}

		.container td, .container th {
		padding: 10px;
		}

		.container td:first-child, .container th:first-child {
		padding-left: 20px;
	
		}
		
		.container td:last-child, .container th:last-child {
		padding-right: 20px;
		}

		.container th {
		border-bottom: 1px solid #111010;
		position: relative;
		}

		.container table {
		margin-top: 40px;
	    width: 100%;
	}

	a{
		text-align: center;
	}
	.Posters{
		
		margin-left:5%;
		margin-right:5%;
		border:5px solid #D4AF37;
	
	}
	#frontpage{

		background-color:black;
	}